<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>about</title>
        <style>
            body {
                color: blue;
                text-align: center;
                margin-top: 250px;
                background-color: greenyellow;
            }

            p {
                font-style: italic;
                text-size: 90px;
            }
        </style>
    </head>

    <body>

    {% extends 'base.html' %}

    {% block content %}
        <h1>Sayt haqida</h1>
        <p>Asaalaamu 'alaykum bu sayt chala sayt 😂😂😂</p>
    {% endblock content %}

    </body>
</html>